* {
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  font-family: "Press Start 2P";
}

.first {
  background-color: black;
  height: 100vh;
}

.centerMe {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.introText {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  flex-direction: column !important;
  align-self: center;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  color: white;
}

#introCursor {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 20px;
  background-color: white;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: white;
  }
}

.highlight {
  color: #e61e1e;
  font-weight: bolder;
}

.arrowDown {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.navbar {
  position: fixed;
  background-color: solid !important;
  top: 0;
  overflow: hidden;
  text-transform: uppercase;
  border-bottom: 3px solid crimson;
  animation: popDown 0.5s;
  z-index: 20 !important;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.about {
  justify-content: center !important;
  align-content: center !important;
  align-self: center !important;
}

.aboutText {
  height: 10em;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  text-transform: capitalize;
}

.aboutSentence {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  padding: calc((100vw - 700px) / 2);
}

.box {
  height: 100vh;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5) 0 0 0 1px #e6ecf8;
  color: #293347;
  display: block;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 5px;
}

.skillsTitle1 {
  font-size: 15px;
}

.skillsTitle2 {
  font-size: 20px;
}

.skillsTitle3 {
  font-size: 20px;
}

.htmlLogo {
  height: 128px;
  width: 128px;
}

.cssLogo {
  height: 128px;
  width: 100px;
}

.projectText {
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  font-family: "Press Start 2P";
}

.card {
  display: flex;
  transition: all 1s;
  vertical-align: text-bottom;
}

.card:hover {
  opacity: 0.2;
  visibility: visible;
}

.card-group {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px auto 80px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
}

.card-title {
  align-items: center;
  justify-content: center;
}

.card-text {
  color: crimson;
  font-weight: bolder;
}

.card-img-top {
  height: 300px;
  width: 576px;
}

.keyCodebtn {
  cursor: pointer;
}

.drumKitbtn {
  cursor: pointer;
}

.diceGamebtn {
  cursor: pointer;
}

.todobtn {
  cursor: pointer;
}

.calculatorbtn {
  cursor: pointer;
}

.contactTitle {
  color: black;
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  font-family: "Press Start 2P";
}

.contactText {
  color: black;
  text-align: center;
  font-size: 15px;
}

.mailSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input[type="text"] {
  width: 75%;
  padding: 12px 20px;
  margin: 10px auto;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #343a40;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="email"] {
  width: 75%;
  padding: 12px 20px;
  margin: 10px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

textarea {
  width: 75%;
  padding: 12px;
  height: 100px;
  margin: 10px auto !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#success {
  height: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: height 0.25s;
}

#success div {
  background: #0444ac;
  color: white;
  font-size: 10pt;
  font-weight: 600;
  padding: 5px 0;
  border: 1px solid #5779b1;
}

.button {
  display: inline-block !important;
  border: 2px solid #fff;
  border-radius: 4px;
  margin: 5px 0 0 0;
  font-size: 12pt;
  padding: 10px 30px;
  width: 50vw;
  color: white;
  background: black;
  outline: 0;
  box-sizing: inherit;
  cursor: pointer;
}

.footer {
  text-align: center;
  width: 100%;
  background-color: #343a40;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
}

#footText {
  line-height: 50px;
  color: white;
  text-align: center;
}

.fa {
  padding: 5px;
  font-size: 15px;
  height: 25px;
  width: 25px;
  text-align: right;
  align-self: center;
  text-decoration: none;
  margin: 20px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: gray;
  color: white;
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
